* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  
  :root {
    --bg-color: #34E4CB;
    --light: white;
  }
  
  body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }
  
  #navHead {
    padding: 20px;
    margin: 0px;
    text-align: space-around;
    justify-content: center;
    padding-left: 25px;
    background: var(--bg-color);
    color: var(--light);
    font-size: 20px;
    height: 200px;
  }
  
  #navHead ul li {
    list-style-type: none;
    margin: 00px;
    padding: 50px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
  }

  #navHead a {
    color: var(--light);
    text-decoration: none;
  }
  
  #navHead a:hover {
    color: rgb(11, 125, 239);
  }
  
  #navHead h1 {
    margin-top: 10px;
  }
  
  #navHead h1:hover {
    color: rgb(11, 125, 239);
  }
  #heroDiv h1 pre:hover {
    color: var(--bg-color);
  }

  #heroDiv h2:hover {
    color: var(--bg-color);
  }

  #heroDiv h1 {
    position: relative
  }

  #heroDiv h2 {
    position: absolute;
    margin-left: 0px;
  }

  #about {
    background: var(--bg-color);
    height: 375px;
  }
  #about h2 {
    text-align: center;
    padding: 20px;
    color: var(--light);
    text-shadow: 2px 2px black;
  }
  
  #about p {
    text-align: center;
    color: var(--light);
    margin: 2px;
    font-size: 20px;
  }

  #work {
    background-color: rgb(0, 0, 0);
    padding-bottom: 20px;
  }

  .card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.card-title {
    mx-auto
}

.card-body {
    background: var(--bg-color);
    color: white;
}

#work h1 {
    text-align: center;
}

#skills {
background-color: var(--bg-color)!important;
}

#skills h2 {
    color: white;
}

#skills h4 {
    color: white !important;
}

#skills p {
    color: black !important;
}

.g-6,
.gx-6 {
  --bs-gutter-x: 4.5rem;
}
.g-6,
.gy-6 {
  --bs-gutter-y: 4.5rem;
}
@media (min-width: 576px) {
  .g-sm-6,
  .gx-sm-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-sm-6,
  .gy-sm-6 {
    --bs-gutter-y: 4.5rem;
  }
}
@media (min-width: 768px) {
  .g-md-6,
  .gx-md-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-md-6,
  .gy-md-6 {
    --bs-gutter-y: 4.5rem;
  }
}
@media (min-width: 992px) {
  .g-lg-6,
  .gx-lg-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-lg-6,
  .gy-lg-6 {
    --bs-gutter-y: 4.5rem;
  }
}
@media (min-width: 1200px) {
  .g-xl-6,
  .gx-xl-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-xl-6,
  .gy-xl-6 {
    --bs-gutter-y: 4.5rem;
  }
}
@media (min-width: 1400px) {
  .g-xxl-6,
  .gx-xxl-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-xxl-6,
  .gy-xxl-6 {
    --bs-gutter-y: 4.5rem;
  }
}
.mb-6 {
  margin-bottom: 4.5rem !important;
}
.py-6 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}
.w-65 {
  width: 65% !important;
}
.w-85 {
  width: 85% !important;
}
.w-95 {
  width: 95% !important;
}
@media (min-width: 576px) {
  .mb-sm-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-sm-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}
@media (min-width: 768px) {
  .mb-md-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-md-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}
@media (min-width: 992px) {
  .mb-lg-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-lg-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}
@media (min-width: 1200px) {
  .mb-xl-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-xl-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}
@media (min-width: 1400px) {
  .mb-xxl-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-xxl-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}

.contactMe,
.socialLinks {
  margin: 0%;
  padding: 0%;
  background: black;
  color: var(--light);
  text-decoration: none;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100px;
  padding-top: 20px;
  color: var(--light);
}

.socialLinks a {
  color: var(--light);
  text-decoration: none;
}

.socialLinks a:hover {
  color: rgb(11, 125, 239);
  box-shadow: 10px 5px 5px black;
}

.footer h2:hover {
    color: rgb(11, 125, 239);
  }

.icons {
    margin: 500px;
}

@media only screen and (max-width: 600px) {
    #about {font-size: 85%;}
    #about {height: 80%;}
    #about {padding-bottom: 30px;}
  }

  @media only screen and (max-width: 1025px) {
    .nav-link {display: none;}
    #davis {position: absolute; justify-content: center;}
      }